<form #form="ngForm">
  <div class="header">Login</div>
  <label>
    <input [(ngModel)]="model.email" #email="ngModel" name="email" required minlength="4" type="text"> E-mail
  </label>
  <div class="error">
    <span *ngIf="email.invalid && (email.dirty)&&email.errors.required">E-mail is required</span>
  </div>
  <label>
    <input [(ngModel)]="model.password" #password="ngModel" name="password" required minlength="8" type="text"> Password
  </label>
  <div class="error">
    <span *ngIf="password.invalid && (password.dirty)&&password.errors.required">For sure password is required anyway.</span>
  </div>
  <div class="button-block">
    <button routerLink="/register" type="button" save>Register</button>
    <button (click)="onSubmit()" [routerLink]=" isAuthorized ? ['/map'] : []" type="submit" save>Submit</button>
    <button (click)="check()" type="submit" save>Check</button>
  </div>
</form>
<a href="#" routerLink="/author">About author</a>