* {
  font-family: monospace;
}
form {
  width: 30%;
  display: flex;
  margin: 10vh auto;
  flex-direction: column;
  box-shadow: 0 0 3px #8134f8;
  justify-content: center;
  padding: 10px;
  background-color: #0fb3ff;
  color: #3353d4;
  font-size: 2em;
}
label {
  margin: 2%;
  margin-left: 31.5%;
  display: flex;
  justify-content: space-between;
}
input {
  padding: 5px;
  font-size: 0.6em;
  transition: 0.3s;
  border: none;
  border-radius: 7px;
}
input:focus {
  background-color: #fff;
  box-shadow: 1px 1px 8px #0f0;
}
input:autofill {
  background-color: #fff;
}
button {
  margin: 2%;
  min-width: 80px;
  border: none;
  font-size: 0.7em;
  color: #0fb3ff;
  background-color: #0fb;
  padding: 2% 8%;
  border-radius: 10px;
  align-self: center;
  outline: #ff0;
  transition: 0.3s;
}
button:hover,
button:focus {
  color: #0fb3ffdd;
  background-color: #fff;
}

.error {
  font-size: 0.5em;
  color: #f00;
  text-align: center;
  min-height: 1.1em;
}
.header {
  margin-left: 3%;
  text-align: center;
}
.button-block {
  display: flex;
  justify-content: space-between;
}
a {
  display: block;
  text-align: center;
  margin: 3em;
  margin-bottom: 1em;
  text-decoration: none;
  color: black;
  font-size: 2em;
}
