* {
  font-family: monospace;
}
.GMap {
  width: 60%;
  height: 60vh;
}
.map-section {
  display: flex;
  justify-content: space-around;
}
a {
  display: block;
  text-align: center;
  margin: 2em;
  margin-bottom: 1em;
  text-decoration: none;
  color: black;
  font-size: 2em;
}
.modal {
  position: absolute;
  margin: 10% auto;
  top: 0;
  left: 30%;
}
form {
  padding: 2%;
  width: 220px;
  height: 190px;
  background-color: #0fb3ff;
  text-align: center;
  border-radius: 10px;
  font-family: monospace;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
}
select {
  text-align: center;
  border: none;
  padding: 5%;
  background-color: #cf0;
  border-radius: 7px;
  box-shadow: 1px 1px 8px #000;
}
label input {
  padding: 3% 10%;
  border: none;
  border-radius: 7px;
  box-shadow: 1px 1px 8px #000;
  margin: 2% 0 0;
}
button {
  color: #9f0;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  padding: 3%;
  background-color: #0fb3ff;
  cursor: pointer;
  transition: 0.5s;
  outline: #9f0;
  width: 80px;
  margin: 0 auto;
  box-shadow: 1px 1px 8px #000;
}
button:hover,
button:focus {
  color: snow;
}
