<div class="map-section">
    <app-locations (onSave)="handleSaveLocations()" (onClear)="handleClear()" (onToggleMarkers)="handleToggleMarkers()" (onEdit)="handleEditLocation($event)"
        (onDelete)="handleDeleteLocation($event)" [parentLocs]="allLocs"></app-locations>
    <div class="gmap">
        <div class="GMap" #gmap></div>
        * double click on location to toggle edit panel
    </div>
    <app-locations [isSearch]="true" [parentLocs]="nearbyLocs" (onEdit)="handleEditLocation($event)"></app-locations>
</div>
<p class="current-marker">[{{currentMarker && currentMarker.lat || 0}},{{currentMarker && currentMarker.lng || 0}}]</p>
<form #form="ngForm" (ngSubmit)="handleSearchPlaces()">
    <h3 class="header">Search locations</h3>
    <label>
        radius
        <input [(ngModel)]="search.radius" #radius="ngModel" name="radius" type="text"> </label>
    <label>
        type
        <select [(ngModel)]="search.type" #type="ngModel" name="type">
            <option *ngFor="let o of types" [ngValue]="o.name">{{o.name}}</option>
        </select>
    </label>
    <button type="submit" save>Search</button>
</form>
<div *ngIf="isModalShow" class="modal">
    <app-modal (onUpdate)="handleAddLocation($event)" (onEdit)="handleUpdateLocation($event)" [isModalUpdate]="isUpdate" [marker]="currentMarker" (onToggleModal)="handleToggleModal()"></app-modal>
</div>

<a href="#" routerLink="/author">About author</a>