<div class="map-section">
    <app-locations (onSave)="handleSaveLocations()" (onClear)="handleClear()" (onToggleMarkers)="handleToggleMarkers()" (onEdit)="handleEditLocation($event)"
        (onDelete)="handleDeleteLocation($event)" [parentLocs]="allLocs"></app-locations>
    <div class="GMap" #gmap></div>
    <app-locations (onClear)="handleClear()" [isSearch]="true" [parentLocs]="nearbyLocs"></app-locations>
</div>
<p class="current-marker">[{{currentMarker.lat}},{{currentMarker.lng}}]</p>
<form #form="ngForm">
    <h3 class="header">Search locations</h3>
    <label>
        radius
        <input [(ngModel)]="search.radius" #radius="ngModel" name="radius" type="text"> </label>
    <label>
        type
        <select [(ngModel)]="search.type" #type="ngModel" name="type">
            <option *ngFor="let o of types">{{o.name}}</option>
        </select>
    </label>
    <button (click)="handleSearchPlaces()" type="submit" save>Search</button>
</form>
<div *ngIf="isModalShow" class="modal">
    <app-modal (onEdit)="handleAddLocation($event)" [action]="action" [marker]="currentMarker" (onToggleModal)="handleToggleModal()"></app-modal>
</div>

<a href="#" routerLink="/author">About author</a>