<section>
  <p *ngIf="isWithoutButtons">Search</p>
  <p *ngIf="!isWithoutButtons">Your locations</p>
  <ul>
    <li *ngFor="let location of allLocs">
      <p>{{location.name}}, {{location.type}}</p>
      <img *ngIf="!isWithoutButtons" (click)="handleEdit(location)" class="icon" alt="edit icon" src="../../assets/edit.png" />
      <img (click)="handleDelete(location)" class="icon" alt="delete icon" src="../../assets/delete.png" />
    </li>
  </ul>
  <div *ngIf="!isWithoutButtons">
    <button (click)="handleSaveLocations()" type="button" save>Save my locations</button>
    <button (click)="handleDiscardChanges()" type="button" save>Discard changes</button>
    <button class="changable" (click)="handleToggleShow()" type="button" save>{{showText}}</button>
  </div>
</section>