* {
  font-family: monospace;
}
h1 {
  margin: 0 auto;
  text-align: center;
  color: #0fb3ff;
  font-size: 3em;
  font-weight: 500;
}
button {
  margin: 0 auto;
  display: block;
  color: #9f0;
  border: none;
  border-radius: 10px;
  font-weight: 600;
  padding: 1%;
  background-color: #0fb3ff;
  cursor: pointer;
  transition: 0.5s;
}
button:hover,
button:focus {
  color: snow;
}
.modal {
  position: absolute;
  margin: 10% auto;
  top: 0;
  left: 30%;
  background-color: #8134f8;
  text-align: center;
  border-radius: 10px;
}
overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  background-color: #0004;
}
