<form #form="ngForm">
  <h3 class="header">{{title}}</h3>
  <label>
    Name
    <input [(ngModel)]="model.name" #locationName="ngModel" name="name" required minlength="4" type="text">    </label>
  <div class="error">
    <span *ngIf="locationName.invalid && (locationName.dirty) && locationName.errors.required">enter location name</span>
  </div>
  <label>
    type
    <select [(ngModel)]="model.type" #type="ngModel" name="type">
      <option *ngFor="let o of types">{{o.name}}</option>
    </select>
  </label>
  <div class="error">
    <span *ngIf="type.invalid && (type.dirty) && type.errors.required">enter type please</span>
  </div>
  <button (click)="handleEditLocation()" type="submit" save>{{actionName}}</button>
</form>